<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/services/src/main/java/com/ciphercloud/obs/alert/boot/AlertServiceInitializer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="AWS_PROFILE" value="dev-role-ro"/>
        <mapEntry key="AWS_REGION" value="us-east-1"/>
        <mapEntry key="DEV_MODE" value="true"/>
        <mapEntry key="LOCAL_SECRETS_PATH" value="D:/work/devswg/secrets/"/>
        <mapEntry key="SECRETS_ENV" value="devswg"/>
        <mapEntry key="SERVER_JKS_FILE_PATH" value="D:/work/devswg/secrets/intsvc.jks"/>
        <mapEntry key="SERVER_JKS_PASSWORD" value="cmi79gtcBH8Ph"/>
        <mapEntry key="SERVER_KEY_PASSWORD" value="cmi79gtcBH8Ph"/>
        <mapEntry key="SERVER_TRUST_STORE_FILE_PATH" value="D:/work/devswg/secrets/truststore.jks"/>
        <mapEntry key="SERVER_TRUST_STORE_PASSWORD" value="changeit"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ciphercloud.obs.alert.boot.AlertServiceInitializer"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="services"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="services"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-javaagent:D:\spring-instrument-4.1.6.RELEASE.jar"/>
</launchConfiguration>
